parameters:
    webedit:
        menu:
            directory: %vendor.webedit.directory%/menu
    locale:
        - %webedit.menu.directory%/locale
services:
    - WebEdit\Menu\Facade
    - WebEdit\Menu\Repository
    -
        implement: WebEdit\Menu\Control\Factory
        parameters: [groupKey]
        arguments: [%groupKey%]