parameters:
    menu:
        directory: %vendor.webedit.directory%/menu
    locale:
        - %menu.directory%/locale
services:
    - WebEdit\Menu\Facade
    - WebEdit\Menu\Repository
    - WebEdit\Menu\Form\Factory
    -
        implement: WebEdit\Menu\Control\Factory
        parameters: [groupKey]
        arguments: [%groupKey%]