parameters:
    webedit:
        menu:
            directory: %vendor.webedit.directory%/menu
    locale:
        - %webedit.menu.directory%/locale
services:
    - WebEdit\Menu\Model\Facade
    - WebEdit\Menu\Model\Repository
    -
        create: WebEdit\Menu\Control(%groupKey%)
        implement: WebEdit\Menu\Control\Factory
        parameters: [groupKey]