<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" n:inner-block="url">
	<url>
		<loc>{plink $menu->link absolute => TRUE}</loc>
	</url>
	{foreach $menu->children as $menu} {include url menu=>$menu} {/foreach}
</urlset>
