<aside>
    <nav>
        <ol class="breadcrumb" n:inner-foreach="$nodes as $node">
            <li n:class="$iterator->last?active,!$node->link?text-muted">
                <a n:tag-if="!$iterator->last && $node->link" href="{plink $node->link, id=>$node->link_id}">{$node->title}</a>
            </li>
        </ol>
    </nav>
</aside>