<aside>
    <nav>
        <ol class="breadcrumb" n:inner-foreach="$breadcrumb as $menu">
            <li n:class="$iterator->last?active,!$menu->link?text-muted">
                <a n:tag-if="!$iterator->last && $menu->link" href="{plink $menu->link, id=>$menu->link_id}">{$menu->title}</a>
            </li>
        </ol>
    </nav>
</aside>