category:
	presenter:
		action:
			edit: Edit category
	form:
		container:
			property:
				postNodes:
					group: Posts
					action:
						add: Add post
						delete: Delete post
	description:
		form:
			container:
				property:
					value:
						label: Description
						placeholder: Fill description
post:
	presenter:
		action:
			edit: Edit post
	form:
		container:
			property:
				content:
					label: Content
					placeholder: Fill content
				title:
					label: Title
					placeholder: Fill title
				categoryNodes:
					group: Categories
					action:
						add: Add category
						delete: Delete category
	description:
		form:
			container:
				property:
					value:
						label: Description
						placeholder: Fill description
	category:
		form:
			container:
				group: Category
				property:
					post:
						label: Post
						placeholder: Select post
					category:
						label: Category
						placeholder: Select category
					primary:
						label: Primary category
