category:
	presenter:
		action:
			edit: Edit category
	form:
		container:
			property:
				description:
					label: Description
					placeholder: Fill description
post:
	presenter:
		action:
			edit: Edit post
	form:
		container:
			property:
				content:
					label: Content
					placeholder: Fill content
