category:
	presenter:
		action:
			edit: Upravit kategorii
	form:
		container:
			property:
				description:
					label: Popis
					placeholder: Vyplňte popis
				postNodes:
					group: Příspěvky
					action:
						add: Přidat příspěvek
						delete: Odebrat příspěvek
post:
	presenter:
		action:
			edit: Upravit příspěvek
	form:
		container:
			property:
				content:
					label: Obsah
					placeholder: Vyplňte obsah
				title:
					label: Název
					placeholder: Vyplňte název
				categoryNodes:
					group: Kategorie
					action:
						add: Přidat kategorii
						delete: Odebrat kategorii
	category:
		form:
			container:
				group: Kategorie
				property:
					post:
						label: Příspěvek
						placeholder: Vyberte příspěvek
					category:
						label: Kategorie
						placeholder: Vyberte kategorii
					primary:
						label: Hlavní kategorie
