admin:
    view: Menu
    add: Add menu
    edit: SystemContainer_WebEdit_Menu_Control_FactoryImpl_menu
form:
    group: Menu
    title:
        label: Title
    parent:
        label: Parent
        prompt: select item
    link:
        label: Link
    linkId:
        label: Link ID
    hidden:
        label: Hide in navigation
    uid:
        label: Unique ID