admin:
    presenter:
        module: Menu
        action:
            add: Přidat menu
            edit: Upravit menu
form:
    container:
        group: Menu
entity:
    id:
        label: ID
    title:
        label: Název
    parent:
        label: Zatřídit do
        prompt: vyberte položku
    link:
        label: Odkaz
    linkId:
        label: ID odkazu
    hidden:
        label: Skrýt v navigaci
    uid:
        label: Unikátní ID