presenter:
	module: Menu
	action:
		add: Add menu
		edit: Edit menu
form:
	container:
		group: Menu
		property:
			title:
				label: Title
				placeholder: Fill title
			parent:
				label: Parent
				placeholder: Select item
			nodes:
				group: Nodes
				action:
					add: Add node
					delete: Delete node
			childNodes:
				group: Child nodes
				action:
					add: Add child node
					delete: Delete child node
node:
	form:
		container:
			group: Node
			property:
				parent:
					label: Parent
					placeholder: Select parent
				menu:
					label: Menu
					placeholder: Select menu
