presenter:
	module: Menu
	action:
		add: Přidat menu
		edit: Upravit menu
form:
	container:
		group: Menu
entity:
	title:
		label: Název
		placeholder: Vyplňte název
	parent:
		label: Zatřídit do
		placeholder: Vyberte položku
	link:
		label: Odkaz
		placeholder: Vyplňte odkaz
	linkId:
		label: ID odkazu
		placeholder: Vyplňte ID odkazu
	hidden:
		label: Skrýt v navigaci
	uid:
		label: Unikátní ID
		placeholder: Vyplňte unikátní ID
