presenter:
	module: Menu
	action:
		add: Přidat menu
		edit: Upravit menu
form:
	container:
		group: Menu
		property:
			title:
				label: Název
				placeholder: Vyplňte název
			parent:
				label: Zatřídit do
				placeholder: Vyberte položku
			nodes:
				group: Uzly
				action:
					add: Přidat uzel
					delete: Odebrat uzel
			childNodes:
				group: Poduzly
				action:
					add: Přidat poduzel
					delete: Odebrat poduzel
node:
	form:
		container:
			group: Uzel
			property:
				parent:
					label: Rodič
					placeholder: Vyberte rodiče
				menu:
					label: Menu
					placeholder: Vyberte menu