<nav>
    <ol>
        <li>
            <a href="{plink $group->menu->link id=>$group->menu->linkId}">
                {$group->menu->title|translate}
            </a>
        </li>
        <li n:foreach="$group->menu->children as $menu">
            <a href="{plink $menu->link id=>$menu->linkId}">
                {$menu->title|translate}
            </a>
            <ol n:if="$menu->children->count()" n:inner-foreach="$menu->children as $menu" n:block="list">
                <li>
                    <a href="{plink $menu->link id=>$menu->linkId}">
                        {$menu->title|translate}
                    </a>
                    {include list}
                </li>
            </ol>
        </li>
    </ol>
</nav>