<nav>
    <ol>
        <li>
            <a href="{plink $entity->menu->link id=>$entity->menu->link_id}">
                {$entity->menu->title|translate}
            </a>
        </li>
        <li n:foreach="$entity->menu->related('menu') as $menu">
            <a href="{plink $menu->link id=>$menu->link_id}">
                {$menu->title|translate}
            </a>
            <ol n:if="$menu->related('menu')->count()" n:inner-foreach="$menu->related('menu') as $menu" n:block="list">
                <li>
                    <a href="{plink $menu->link id=>$menu->link_id}">
                        {$menu->title|translate}
                    </a>
                    {include list}
                </li>
            </ol>
        </li>
    </ol>
</nav>